<%if(typeof curp !== "undefined"){%>
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const emisor = '<%=curp%>';
        const receptor = '<%=solicitud[0].cedula_med%>';
        const chat ='<%=solicitud[0].id_chat%>'
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chatDoctor.css">     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Chat</title> 
        <!--====== Favicon Icon ======-->
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
        type="image/svg"
      />
  
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
            </div>

            <span class="logo_name">Glucky</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/Glucky/Pacientes/Dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Casa</span>
                </a></li>
                <li><a href="/Glucky/Pacientes/Solicitudes">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Doctor</span>
                </a></li>
                <li><a href="/Glucky/Pacientes/Chat">
                    <i class="uil uil-chat"></i>
                    <span class="link-name">Chats</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-plus-circle"></i>
                    <span class="link-name">Asignaciones</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="/Glucky/IniciodeSesion">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Salir</span>
                </a></li>

                <li class="mode">
                    <a href="/Glucky/Pacientes/EditarCuenta">
                        <i class="uil uil-x"></i>
                    <span class="link-name">Ajustes de cuenta</span>
                </a>

                <div class="mode-toggle">
                 
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-circle"></i>
                <input type="text" placeholder="Aplicación glucky para pacientes" disabled>
            </div>


                  <!--<div class="icon" onclick="toggleNotifi()">
			        <div class="noti">17</div>
		        </div>-->

                <div class="notifi-box" id="box">
                    <h2>Notificaciones: <span>17</span></h2>
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Elias Abdurrahman</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>John Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Emad Ali</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Ekram Abu </h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Jane Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Jane Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Jane Doe</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                </div>

            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">

            <div class="notifi-box2" id="box2">
                <div class="profile-card">
                    <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                    </div>
                    <%if(typeof datopac!=='undefined'){%>
                        <% for(var i=0;i<datopac.length;i++){%>
                        <div class="text-data">
                            <span class="name"><%=datopac[i].nom_pers%> <%=datopac[i].apellidos_pers%></span>
                        <span class="job"><%=datopac[i].curp_pacien%></span>
                        <span class="job"><%=datopac[i].email_pers%></span>
                        <span class="job">Paciente</span>
                        </div>
                        <%}%>
                    <%}%>
                    <div class="media-buttons">
                      <a href="#" style="background: #a1a1a136" class="link">
                        <i class="bx bx-plus-medical"></i>
                      </a>
                    
                    </div>
              
                    <div class="buttons">
                      <button class="button" onclick="toggleNotifi2()"">Cerrar</button>
                      <button class="button"><a href="/Glucky/Doctores/EditarCuenta" style="color:#ffffff; text-decoration:none;">Cuenta</a></button>
                    </div>
              
                    <div class="analytics">
                      <div class="data">
                        <i class="bx bx-circle"></i>
                        <span class="number">Glucky</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-heart"></i>
                        <span class="number">Paciente</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-award"></i>
                        <span class="number">...</span>
                      </div>
                    </div>
                  </div>
    
            </div>
        
        </div>
        <div class="dash-content">
            <div class="overview">
                <%if(solicitud!=='undefined'){%>
                        <div class="chat" >
                            <div class="chatBo">
                                <div class="chatNom">
                                  
                                        <div class="cont2">
                                            <h4 class="Nombre"><%=solicitud[0].nom_pers%> <%=solicitud[0].apellidos_pers%></h4>
                                        </div>
                                </div>
                                <div class="caja" id="menssages-container">
                                    <div class="acciones"> 
                                       
                                        Chat personal con tu endocrinologo
                                    </div>
                                    <br>
                                    <%if(mensajes !== 'undefined'){%>
                                        <%for(var i=0; i<mensajes.length;i++){%>
                                            <%if(i > 0 && formatDate(mensajes[i].date_mensaje) !== formatDate(mensajes[i-1].date_mensaje)){%>
                                                <span><%=formatDate(mensajes[i].date_mensaje)%></span>  
                                                <%if(mensajes[i].id_emisor===curp){%>
                                                    <div class="message sent">
                                                        <p><%=mensajes[i].desc_mensaje%></p>
                                                        <span class="time"><%=format12HourTime(mensajes[i].hour_mensaje)%></span>
                                                    </div>
                                                <%}else{%>
                                                    <div class="message received">
                                                        <p><%=mensajes[i].desc_mensaje%></p>
                                                        <span class="time"><%=format12HourTime(mensajes[i].hour_mensaje)%></span>
                                                    </div>
                                                <%}%>
                                            <%}else{%>
                                                <%if(mensajes[i].id_emisor===curp){%>
                                                    <div class="message sent">
                                                        <p><%=mensajes[i].desc_mensaje%></p>
                                                        <span class="time"><%=format12HourTime(mensajes[i].hour_mensaje)%></span>
                                                    </div>
                                                <%}else{%>
                                                    <div class="message received">
                                                        <p><%=mensajes[i].desc_mensaje%></p>
                                                        <span class="time"><%=format12HourTime(mensajes[i].hour_mensaje)%></span>
                                                    </div>
                                                <%}%>
                                            <%}%>
                                        <%}%>
                                    <%}%>    
                                </div>
                                <div class="escribe">
                                    <input type="text" placeholder="Escribe un mensaje aquí..." class="escribeC">
                                    <button class=" enviarMensaje"> 
                                        <i class="uil uil-play"></i>
                                    </button>
                                    <br>
                                </div>
                        </div>
                    </div>
                  </div>
                  <%}%>


                <div class="home-content">

                  
   
                    
                </div>
            </div>

        

            

       



            
            

      

  
</div>
<script src="/js/plantillaAlertas.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%if(error==='No te has en lazado a un doctor'){%>
        <script>
            Noenlaze()
        </script>
    <%}else if(error==='No te has en lazado a un doctor'){%>
        <script>
            NocargaChat()
        </script>
    <%}%>
    <script src="/js/chatDoctor.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatpaciente.js"></script>
      
    
</body>
</html>
<%}else{%>
    <!DOCTYPE html>
  <html>
    <head>
      <title>Error - Debes Iniciar Sesión</title>
    </head>
    <body>
      <script src="/js/plantillaAlertas.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>
        SesionCad()
      </script>
    </body>
  </html>
  <%}%>