<%if(typeof curp !== "undefined"){%>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
      <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
      <link rel="stylesheet" href="/css/slider.css" />
       
  
      <title>Paciente</title> 
          <!--====== Favicon Icon ======-->
          <link
          rel="shortcut icon"
          href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
          type="image/svg"
        />
    
  </head>
  <body>
      <nav>
          <div class="logo-name">
              <div class="logo-image">
                  <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
              </div>
  
              <span class="logo_name">Glucky</span>
          </div>
  
          <div class="menu-items">
              <ul class="nav-links">
                  <li><a href="#">
                      <i class="uil uil-estate"></i>
                      <span class="link-name">Casa</span>
                  </a></li>
                  <li><a href="/Glucky/Pacientes/Solicitudes">
                      <i class="uil uil-chart"></i>
                      <span class="link-name">Doctor</span>
                  </a></li>
                  <li><a href="#">
                      <i class="uil uil-chat"></i>
                      <span class="link-name">Chats</span>
                  </a></li>
                  <li><a href="#">
                      <i class="uil uil-plus-circle"></i>
                      <span class="link-name">Asignaciones</span>
                  </a></li>
                  <li><a href="#">
                    <i class="uil uil-user"></i>
                    <span class="link-name">Personal</span>
                  </a></li>
              </ul>
              
              <ul class="logout-mode">
                  <li><a href="/Glucky/IniciodeSesion">
                      <i class="uil uil-signout"></i>
                      <span class="link-name">Salir</span>
                  </a></li>
  
                  <li class="mode">
                      <a href="perfilPaciente.ejs">
                          <i class="uil uil-x"></i>
                      <span class="link-name">Ajustes de cuenta</span>
                  </a>
  
                  <div class="mode-toggle">
                   
                  </div>
              </li>
              </ul>
          </div>
      </nav>
  
      <section class="dashboard">
          <div class="top">
              <i class="uil uil-bars sidebar-toggle"></i>
  
              <div class="search-box">
                  <i class="uil uil-circle"></i>
                  <input type="text" placeholder="Aplicación glucky para pacientes" disabled>
              </div>
  
                  <div class="icon" onclick="toggleNotifi()">
                <div class="noti">17</div>
              </div>
  
                  <div class="notifi-box" id="box">
                      <h2>Notificaciones: <span>17</span></h2>
                      <div class="notifi-item">
                          <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                          <div class="text">
                             <h4>Elias Abdurrahman</h4>
                             <p>@lorem ipsum dolor sit amet</p>
                          </div> 
                      </div>
          
                     
          
                  </div>
  
              <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">
  
              <div class="notifi-box2" id="box2">
                  <div class="profile-card">
                      <div class="image">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                      </div>
                      <div class="text-data">
                        <span class="name"><%=nombre%></span>
                        <span class="job"><%=curp%></span>
                        <span class="job"><%=correo%></span>
                        <span class="job">Paciente</span>
                      </div>
                
                      <div class="media-buttons">
                        <a href="#" style="background: #a1a1a136" class="link">
                          <i class="bx bx-plus-medical"></i>
                        </a>
                      
                      </div>
                
                      <div class="buttons">
                        <button class="button" onclick="toggleNotifi2()">Cerrar</button>
                        <button class="button">Cuenta</button>
                      </div>
                
                      <div class="analytics">
                        <div class="data">
                          <i class="bx bx-circle"></i>
                          <span class="number">Glucky</span>
                        </div>
                        <div class="data">
                          <i class="bx bx-heart"></i>
                          <span class="number">Paciente</span>
                        </div>
                        <div class="data">
                          <i class="bx bx-award"></i>
                          <span class="number">...</span>
                        </div>
                      </div>
                    </div>
      
              </div>
          
          </div>
  
          <div class="dash-content">
             
                <br>
  
  
                  <div class="row">
                      <div class="dashboardPac" >
  
                        <!--CALENDARIO-->
                        <div class="base">
                          <div class="vistaCitas">
                            <div class="mesC">Diciembre</div>
                            <div class="diaC">23</div>
                            <div class="citaC"></div>
                          </div>
                          <div class="otrosDivs">
                        <!--FIN CALENDARIO-->
                            <%if(datosmedicos.length !== 0){%>
                        <!--Inicio Glucosa--> 
                            <div class="otro2 moradin marg" id="GlucosaAyunasForm">
                              <div class="titulo4">
                                <i class="fa fa-certificate iconoBase trC"></i>
                                <a class="tipo1">Glucosa</a> 
                              </div>
                              <div class="numero"><%=datosmedicos[datosmedicos.length-1].gluc_datmed%>dL</div>
                              <div class="fecha">Hoy</div>
                              <div class="hover-message">
                                <p>De clic para solicitar un registro</p>
                              </div>
                            </div>
                          <!--Fin Glucosa -->   
                        
                            <!--Inicio Presión-->
                            <div class="otro2" id="glucosaNormalForm">
                              <div class="titulo4">
                                <i class="fa fa-coffee iconoBase cuC"></i>
                                <a class="tipo1">Presión <h6>arterial sistolica</h6> </a> 
                              </div>
                              <div class="numero ayunas"><%=datosmedicos[datosmedicos.length-1].presis_datmed%></div>
                              <div class="fecha ayunas">Hoy</div>
                              <div class="hover-message">
                              </div>
                            </div>
                            <!--Fin Presión-->
  
                            <!--Inicio Glucosa-->
                            <div class="otro3">
                              <div class="titulo4">
                                <i class="fa fa-heart iconoBase caC"></i>
                                <a class="tipo1">Presión <h6>arterial diastolica</h6> </a>
                              </div>
                              <div class="numero ayunas"><%=datosmedicos[datosmedicos.length-1].predia_datmed%> </div>
                              <div class="fecha ayunas">Hoy</div>
                            </div>
                             <!--Fin Glucosa-->
                            <%}else{%>
                            <!--Inicio CONDICIONAL SIN DATOS-->
                              <div class="otro2 moradin marg" id="GlucosaAyunasForm">
                                <div class="titulo4">
                                  <i class="fa fa-certificate iconoBase trC"></i>
                                  <a class="tipo1">Glucosa</a> 
                                </div>
                                <div class="numero">---</div>
                                <div class="fecha"></div>
                                <div class="hover-message">
                                
                                </div>
                              </div>
                            <!--Fin Glucosa -->   
                          
                              <!--Inicio Presión-->
                              <div class="otro2" id="glucosaNormalForm">
                                <div class="titulo4">
                                  <i class="fa fa-coffee iconoBase cuC"></i>
                                  <a class="tipo1">Presión <h6>arterial sistolica</h6> </a> 
                                </div>
                                <div class="numero ayunas">---</div>
                                <div class="fecha ayunas"></div>
                                <div class="hover-message">
                                </div>
                              </div>
                              <!--Fin Presión-->
    
                              <!--Inicio Glucosa-->
                              <div class="otro3">
                                <div class="titulo4">
                                  <i class="fa fa-heart iconoBase caC"></i>
                                  <a class="tipo1">Presión <h6>arterial diastolica</h6> </a>
                                </div>
                                <div class="numero ayunas">---</div>
                                <div class="fecha ayunas"></div>
                              </div>

                              <%}%>
                             <!--Inicio Citas-->
                            <div class="otro2 otro4" id="formCitaNueva">
                               <div class="titulo4">
                                <i class="fa fa-circle iconoBase CiC"></i>
                                <a class="tipo1">Citas</a> 
                              </div>
                              <div class="numero numeroAjustable">X Citas</div>
                              <div class="fecha">Hoy</div>
                              <div class="hover-message">
                                <p>De clic para solicitar una cita</p>
                              </div>
                            </div>
                             <!--Fin citas-->
  
                       
  
                            
                          </div>
                        </div>
                    <!--FORM GLUCOSA-->
                      
                    <div id="glucosa-modal" class="modal">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2>Ingresa el valor de glucosa y presión</h2>
                        
                          <span class="close">&times;</span>
                        </div>
                        <div class="modal-header2">
                          <h5 class="expandable-text">Las mediciones de ayunas o normal en los análisis de sangre son importantes porque pueden proporcionar información valiosa.</h5>
                        </div>
                        <div class="modal-body">
                          <!--INICIO DEL FORM DE GLUCOSA-->
                          <form class="glucosaNormalForm" action="/Glucky/Pacientes/Niveles" method="post" id="formulario">
                            <label for="glucosaNormal">Ingresa el nivel de glucosa y presión</label>
                            <input class="Glucnor" type="number" id="glucosaNormal" name="glucosa" placeholder="Ingresa el valor de tu glucosa aquí...">
                            <input class="Glucnor" type="number" id="glucosaNormal" name="sistolica" placeholder="Ingresa el valor de tu presion sistolica aquí.....">
                            <input class="Glucnor" type="number" id="glucosaNormal" name="diastolica" placeholder="Ingresa el valor de tu presion diastolica aquí...">
                            <select class="btn-submit tipode" id="medicion" name="medicion">
                              <option value="1">Medición en ayunas</option>
                              <option value="2">Medición normal</option>
                            </select>
                            <button type="submit" class="btn-submit">Enviar</button>
                          </form>
                          <!--FIN DEL FORM DE GLUCOSA-->
                        </div>
                      </div>
                    </div>
                    <!--FORM GLUCOSA-->

  
                    
  
                      <!--FORM SOLICITUD DE CITA-->
                        <div id="glucosa-modal3" class="modal2">
                          <div class="modal-content2">
                            <div class="modal-header2">
                              <h2>Ingresa tu solicitud de cita</h2>
                             
                              <span class="close3">&times;</span>
                            </div>
                            <div class="modal-header2">
                              <h5>Podrás hacer solicitudes de citas para un doctor</h5>
                            </div>
                            <div class="modal-body2">

                              <!--INICIO DEL FORM DE CITA-->
                              <form class="glucosaNormalForm2" action="/Glucky/Pacientes/Citas" method="post">
                                <label for="glucosaNormal2" class="labeltipo">Ingresa el dia y hora de la cita</label>
                                <input type="date" class="Glucayun colorblue" id="glucosaNormal" name="FechaForm" placeholder="Ingresa el valor aquí...">
                                <label for="glucosaNormal2" class="labeltipo2">Ingresa la hora</label>
                                <input type="time" class="Glucayun colorblue" id="glucosaNormal" name="HoraForm" placeholder="Ingresa el valor aquí...">
                                <button type="submit" class="btn-submit3">Enviar solicitud</button>
                              </form>
                              <!--FIN DEL FORM DE CITA-->
                            </div>
                          </div>
                        </div>
                       <!--FORM SOLICITUD DE CITA-->
  
                        
                       <%if(datosmedicos.length !== 0){%>
                        <div class="base base2">
                          <div class="vistaCitas vistaGrafica">
                            <canvas id="presiongraf"></canvas>
                      <!-- Contenido niveles de glucosa -->
                          </div>
                          <div class="otro3 otroA">
                            <i class="fa fa-certificate iconoBase dosic unC"></i>
                            <h4 class="glucniv">Presion sistolica</h4>
                            <h2 class="nivelRegistrado"><%=sistolica%></h2>
                            <H6 class="contextoGlucosa unn">Promedio</H6>
                          </div>
                      <!-- Contenido niveles de glucosa -->   
  
                      <!-- Contenido niveles de glucosa -->
                          <div class="otro3 otroB">
                            <i class="fa fa-coffee iconoBase dosic doC"></i>
                            <h4 class="glucniv">Presion diastolica</h4>
                            <h2 class="nivelRegistrado"><%=diastolica%></h2>
                            <H6 class="contextoGlucosa dnn">Promedio</H6>
                          </div>
                      <!-- Contenido niveles de glucosa -->
                        </div>
  
                        <div class="base base2">
                          <div class="vistaCitas vistaGrafica vistaGrafica2">
                            <canvas id="glucosagraf"></canvas>
                      <!-- Contenido niveles de presión -->
                          <div id="chartdiv"></div>
                          </div>
                          <div class="otro3 otroA otroC">
                            <i class="fa fa-heart  iconoBase dosic caC2"></i>
                            <h4 class="glucniv">Glucosa</h4>
                            <h2 class="nivelRegistrado"><%=glucosa%> dl</h2>
                            <H6 class="contextoGlucosa">Promedio</H6>
                          </div>
                      <!-- Contenido niveles de presión -->
                       
                        </div>
                      </div>
                      <%}else{%>
                        <div class="base base2">
                          <div class="vistaCitas vistaGrafica">
                      <!-- Contenido niveles de glucosa -->
                          </div>
                          <div class="otro3 otroA">
                            <i class="fa fa-certificate iconoBase dosic unC"></i>
                            <h4 class="glucniv">Presion sistolica</h4>
                            <h2 class="nivelRegistrado">---</h2>
                            <H6 class="contextoGlucosa unn">Promedio</H6>
                          </div>
                      <!-- Contenido niveles de glucosa -->   
  
                      <!-- Contenido niveles de glucosa -->
                          <div class="otro3 otroB">
                            <i class="fa fa-coffee iconoBase dosic doC"></i>
                            <h4 class="glucniv">Presion diastolica</h4>
                            <h2 class="nivelRegistrado">---</h2>
                            <H6 class="contextoGlucosa dnn">Promedio</H6>
                          </div>
                      <!-- Contenido niveles de glucosa -->
                        </div>
  
                        <div class="base base2">
                          <div class="vistaCitas vistaGrafica vistaGrafica2">
                      <!-- Contenido niveles de presión -->
                          </div>
                          <div class="otro3 otroA otroC">
                            <i class="fa fa-heart  iconoBase dosic caC2"></i>
                            <h4 class="glucniv">Glucosa</h4>
                            <h2 class="nivelRegistrado">---dl</h2>
                            <H6 class="contextoGlucosa">Promedio</H6>
                          </div>
                      <!-- Contenido niveles de presión -->
                       
                        </div>
                      </div>
                        
                      <%}%>
  
  
  
                   
  
  
  
  
  
                    
                      <div class="AccionesPac2">
                        <div class="Accion2">
                          <h3><i class="fas fa-circle"></i> Estado</h3>
                          <div class="estadoInfo">
  
                            <!-- Contenido niveles del paciente -->
                            <div class="cuadrado rojo">
                              <i class="fas fa-exclamation"></i>
                              </div>
                              <div class="color">
                              <p>Tu estado es de color Rojo</p>
                              <p class="EST">Rojo es mal</p>
                              </div>
                             <!--Fin Contenido niveles del paciente -->
  
  
                          </div>
                          <div class="estadoInfo">
                            <div class="cuadrado rojo azul">
                              <i class="fas fa-user"></i>
                              </div>
  
                           <!-- Contenido niveles del Endocrinologo --> 
                              <div class="color">
                              <p>Tu endocrinologo</p>
                              <p class="EST"><%=solicituda%></p>
                              </div>
                           <!-- Contenido niveles del Endocrinologo --> 
  
                           
                          </div>
                          <div class="estadoInfo">
  
                            <!-- Contenido tipo de diabetes --> 
                            <div class="cuadrado rojo tipo-2">
                              <i class="fas fa-arrow-up"></i>
                              </div>
                              <div class="color">
                              <p>Tu tipo de diabetes</p>
                              <p class="EST"><%=tipodia%></p>
                              </div>
                           <!--Fin Contenido tipo de diabetes --> 
  
  
                          </div>
                          
                        </div>
                      </div>
  
                      <div class="tareasPac" >
  
  
                        
                        <h3 class="contexto"> <h3>Detalles y citas</h3></h3>
  
                      <!--CONSULTORIO --> 
                        <div class="asignacion asignacion-1">
                          <div class="clase">
                            Consultorio
                          </div> 
                          <div class="titulo">
                            Dirección del consultorio de tu doctor
                            <br>
                            <%=direccion%>
                          </div> 
                          
                      </div>
                      <!--CONSULTORIO --> 
  
                        
                  <!--CITA NORMAL -->
                      
                      
                  <%if(citas.length!==0){%>
                    <%for(let i =0;i<citas.length;i++){
                      var fechita = citas[i].date_cita;%>

                    <div class="asignacion asignacion-2" style="background-color: #E9ECF2;">
                      <div class="clase">
                        Tienes una cita asignada con número <%=i+1%>
                      </div> 
                      <div class="titulo">
                        El dia  <%=fechita.toISOString().substring(0,10)%>
                      </div> 
                      <div class="titulo2">
                        A las   <%=citas[i].hour_cita%>
                      </div> 
                  </div>
                    <%}
                  } else{ %>
                  <%}%>
                  <!--CITA NORMAL --> 
                        
                 
                      <!--CITA EN PROCESO --> 
                      <%if(citasP1.length!==0){%>
                        <%for(let i =0;i<citasP1.length;i++){ 
                          var fechita = citasP1[i].date_solcita;%>
                        <div class="asignacion asignacion-1 moradin2">
                          <div class="clase backgrounds">
                            Citas en proceso
                          </div> 
                          <div class="titulo">
                            Tu cita pronto será aceptada
                          </div>
                          <div class="titulo2">
                            La solicitaste para el dia  <%=fechita.toISOString().substring(0,10)%>
                          </div>
                          <div class="titulo2">
                            A las <%=citasP1[i].hour_solcita%>
                          </div>
                          <form action="/Glucky/Pacientes/BorrarCitasDenegadas">
                            <input type="hidden" name="IdSolCita" id="" value="<%=citasP3[i].id_solcita%>">
                            <button class="AceptarBtm" type="submit">
                              Aceptar y borrar
                            </button>
                          </form>
                      </div>
                      <%}
                    } else{ %>
                    <%}%>
                      <!--CITA EN PROCESO --> 
  
                      <!--CITA DENEGADA --> 

                      <%if(citasP3.length!==0){%>
                        <%for(let i =0;i<citasP3.length;i++){ 
                          var fechita = citasP3[i].date_solcita;%>
                      <div class="asignacion asignacion-3">
                        <div class="clase backgrounds">
                          Denegada
                        </div> 
                        <div class="titulo">
                          Cita
                        </div>
                        <div class="titulo2">
                          Solicitaste una cita el dia <%=citasP3[i].date_solcita%> 
                        </div>
                        <div class="titulo2">
                          A las<%=citasP3[i].hour_solcita%> 
                        </div>
                          <form action="/Glucky/Pacientes/BorrarCitasDenegadas">
                            <input type="hidden" name="IdSolCita" id="" value="<%=citasP3[i].id_solcita%>">
                            <button class="AceptarBtm" type="submit">
                              Aceptar y borrar
                            </button>
                          </form>
                      </div>
                      <%}
                    } else{ %>
                    <%}%>
                       <!--CITA DENEGADA --> 
  
                      
                    
  
                        
                       
  
                 
                        
                     
                  
                       
  
                   
                  </div>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  <script src="/js/slider.js"></script>
                  <script src="/js/peticionesDoctor.js"></script>
                  <script src="/js/plantillaAlertas.js"></script>
                  <script src="/js/dashboardPacientesValidaciones.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                  <script>
                    const datosmedicos = <%- JSON.stringify(datosmedicos) %>;
                    const fechas = [];
                    const datos = [];

                    for (let i = Math.max(datosmedicos.length - 10, 0); i < datosmedicos.length; i++) {
                      const fechaHora = datosmedicos[i].date_datmed.slice(0, 10) + " " + datosmedicos[i].hpur_datmed;
                      fechas.push(fechaHora.toLocaleString());
                      datos.push(parseInt(datosmedicos[i].gluc_datmed));
                    }

                    const data = {
                      labels: fechas,
                      datasets: [{
                        label: 'Glucosa',
                        data: datos,
                        backgroundColor: 'rgba(0, 255, 0, 0.2)', // verde transparente
                        borderColor: 'rgba(0, 255, 0, 1)', // borde verde
                        borderWidth: 1 // ancho del borde
                      }]
                    };

                    new Chart('glucosagraf', {
                      type: 'line',
                      data: data
                    });

                  </script>
                  <script>
                  const datosmedicoso = <%- JSON.stringify(datosmedicos) %>;

                  var fecha=[];
                  var datosis=[];
                  var datosdia=[];
                  
                  for (let i = Math.max(datosmedicos.length - 10, 0); i < datosmedicos.length; i++) {
                    const fechaHora = datosmedicoso[i].date_datmed.slice(0, 10) + " " + datosmedicoso[i].hpur_datmed;
                      fecha.push(fechaHora.toLocaleString());
                      datosis.push(parseInt(datosmedicoso[i].presis_datmed));
                      datosdia.push(parseInt(datosmedicoso[i].predia_datmed));
                  }
                  
                  const datao = {
                    labels: fecha,
                    datasets: [{
                      label: 'Presion sistolica',
                      data: datosis,
                      backgroundColor: 'rgba(54, 162, 235, 0.2)', // azul transparente
                      borderColor: 'rgba(54, 162, 235, 1)', // borde azul
                      borderWidth: 1 // ancho del borde
                    }, {
                      label: 'Presion diastolica',
                      data: datosdia,
                      backgroundColor: 'rgba(255, 206, 86, 0.2)', // amarillo transparente
                      borderColor: 'rgba(255, 206, 86, 1)', // borde amarillo
                      borderWidth: 1 // ancho del borde
                    }],
                  };

                  new Chart('presiongraf', {
                    type: 'line',
                    data: datao
                  });                  
                  </script>
                  
          </div>
  </div>
  <%if(typeof regis !== 'undefined'){%>
    <%if(regis === 'Tu registro de niveles fue agregado'){%>
      <script>
        NivelesRegistrados()
      </script>
      <%}%>
  <%}%>
  </body>
  </html>
<%}else{%>
  <!DOCTYPE html>
<html>
  <head>
    <title>Error - Debes Iniciar Sesión</title>
  </head>
  <body>
    <h1>Error - Debes Iniciar Sesión</h1>
    <p>Lo sentimos, no puedes acceder a esta página sin iniciar sesión primero.</p>
    <a href="/Glucky/IniciodeSesion">Iniciar Sesión</a>
  </body>
</html>
<%}%>