<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perfilDoctor.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Mi perfil</title> 
        <!--====== Favicon Icon ======-->
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
        type="image/svg"
      />
  
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
            </div>

            <span class="logo_name">Glucky</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="#pacientesjeje">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Pacientes</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chat"></i>
                    <span class="link-name">Chats</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-plus-circle"></i>
                    <span class="link-name">Peticiones</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-schedule"></i>
                    <span class="link-name">Citas</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Salir</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-x"></i>
                    <span class="link-name">Borrar cuenta</span>
                </a>

                <div class="mode-toggle">
                 
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-circle"></i>
                <input type="text" placeholder="Aplicaci칩n glucky para doctores" disabled>
            </div>


                <div class="icon" onclick="toggleNotifi()">
			        <div class="noti">17</div>
		        </div>

                <div class="notifi-box" id="box">
                    <h2>Notificaciones: <span>17</span></h2>
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Elias Abdurrahman</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                    
        
                </div>

            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">

            <div class="notifi-box2" id="box2">
                <div class="profile-card">
                    <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                    </div>
                    <div class="text-data">
                      <span class="name">Nombre completito jeje</span>
                      <span class="job">Email@cum.com</span>
                      <span class="job">Doctor</span>
                      <span class="job">Direcci칩n??</span>
                    </div>
              
                    <div class="media-buttons">
                      <a href="#" style="background: #a1a1a136" class="link">
                        <i class="bx bx-plus-medical"></i>
                      </a>
                    
                    </div>
              
                    <div class="buttons">
                      <button class="button" onclick="toggleNotifi2()"">Cerrar</button>
                      <button class="button">Privacidad</>
                    </div>
              
                    <div class="analytics">
                      <div class="data">
                        <i class="bx bx-circle"></i>
                        <span class="number">Glucky</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-heart"></i>
                        <span class="number">Doctor</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-award"></i>
                        <span class="number">...</span>
                      </div>
                    </div>
                  </div>
    
            </div>
        
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-user"></i>
                    <span class="text">Cuenta</span>
                </div>

                <div class="home-content">

                </div>
            </div>

        

            <div class="Titulo">
               Tu cuenta
            </div>
            <% for(var i=0;i<datos.length;i++){%>
          <form action="/Glucky/Doctores/ActualizacionDoctor" method="post" id="formularioEditarPerfil">
          
            <div class="Info">
              <div class="infoEdit" id="grupo_nombre">
                <h5 class="infoDoc">Nombre</h5>  
                <h6 class="nomDoc">
                  <input type="text"  id="edText" class="formdato" name="NombreForm" value="<%=datos[i].nom_pers%>">
                </h6>
                <p class="form_input_error">El o los nombres deben contener minimo dos letras con la primera letra en may칰scula</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_apellidos">
                  <h5 class="infoDoc">Apellidos</h5>
                  <h6 class="nomDoc">
                    <input type="text"  id="edText" class="formdato" name="ApellidosForm" value="<%=datos[i].apellidos_pers%>">
                  </h6>
                  <p class="form_input_error">Los apellidos deber치n tener como m칤nimo dos letras</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_cedula">
                  <h5 class="infoDoc">C칠dula profesional</h5> 
                  <h6 class="alerta_no">
                    游띋 no puedes editar tu c칠dula profesional
                  </h6>
                  <h6 class="nomDoc">
                    <input type="text" id="edText" class="formdato" name="CedulaForm" value="<%=datos[i].cedula_med%>" style="font-weight: bold; color: #000000a6;" disabled>
                  </h6>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_email">
                  <h5 class="infoDoc">Email de contacto</h5>
                  <h6 class="alerta_no">
                    游띋 no puedes editar tu e-mail de contacto
                  </h6>
                  <h6 class="nomDoc">
                    <input type="email"  id="edText" class="formdato" name="EmailForm" value="<%=datos[i].email_pers%>">
                  </h6>
                  <p class="form_input_error">Introduzca un correo v치lido</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_edad">
                  <h5 class="infoDoc">Edad</h5>
                  <h6 class="nomDoc">
                    <input type="number"  id="edText" class="formdato" name="EdadForm" value="<%=datos[i].edad_pers%>">
                  </h6>
                  <p class="form_input_error">Introduzca una edad v치lida</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_telefono">
                  <h5 class="infoDoc">Tel칠fono de contacto</h5>
                  <h6 class="nomDoc">
                    <input type="text"  id="edText" class="formdato" name="TelForm" value="<%=datos[i].tel_pers%>">
                  </h6>
                  <p class="form_input_error">Introduzca 10 d칤gitos</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
              <% var genero = datos[i].genero_pers;
              var genero2 = "";
                 if (genero = "Masculino"){
                   genero2 = "Femenino";
                 }else if(genero = "Femenino"){
                  genero2 = "Masculino";
                 }%>
                <div class="infoEdit" ">
                  <h5 class="infoDoc">Sexo</h5>
                  <h6 class="nomDoc">
          
                    <select name="GeneroForm" class="formdato">
                        <option value="<%=genero%>"><%=genero%></option>
                        <option value="<%=genero2%>"><%=genero2%></option>
                      </select>
                  </h6>
                </div>
                <div class="botonEdit2">
                </div>
            </div>



            <br>
            <br>
            <div class="Titulo">
                Direcci칩n de consultorio o particular
             </div>

             <div class="Info">
                <div class="infoEdit" id="grupo_calle">
                  <h5 class="infoDoc">Calle</h5>
                  <h6 class="nomDoc">
                    <input type="text"  id="edText" class="formdato" name="CalleForm" value="<%=datos[i].calle_cons%>">
                  </h6>
                  <p class="form_input_error">Escribe una calle v치lida</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_numeroConsultorio">
                  <h5 class="infoDoc">N칰mero de consultorio</h5>
                  <h6 class="nomDoc">
                    <input type="text"  id="edText" class="formdato" name="NumeroForm" value="<%=datos[i].num_cons%>">
                  </h6>
                  <p class="form_input_error">Escribe un consultorio v치lido de m치ximo 3 d칤gitos</p>
                </div>
                <div class="botonEdit">
               
                </div>
            </div>

            <div class="Info">
                <div class="infoEdit" id="grupo_cp">
                  <h5 class="infoDoc">C칩digo postal</h5>
                  <h6 class="nomDoc">
                    <input type="text"  id="edText" class="formdato" name="CPForm" value="<%=datos[i].cp_cons%>">
                    <input type="hidden"  id="edText" name="ColForm" value="<%=datos[i].col_cons%>">
                    <input type="hidden"  id="edText" name="DelForm" value="<%=datos[i].del_cons%>">
                    <input type="hidden"  id="edText" name="EdoForm" value="<%=datos[i].edo_cons%>">
                  </h6>
                  <p class="form_input_error">El c칩digo postal contiene 5 d칤gitos</p>
                </div>
                <div class="botonEdit2" id="grupo_enviar">
                    <input type="submit" class="botonFormEdit">
                </div>
            </div>
          
          </form>
          <%}%>

          <div class="Info borderds">
            <h5 class="infoDoc">Opciones</h5>
            <h6 class="nomDoc borrarcuenta">
              <input type="submit" value="Borrar cuenta" class="botonFormEdit">
              <input type="submit" value="Cerrar sesi칩n" class="botonFormEdit">
            </h6>
            
         
      </div>

            <div class="Info2">
              <div class="recuadroInfo">
                <h6 class="letra">
                Estamos personalizando tu experiencia para que se adapte mejor a tus necesidades.
                 Puedes cambiar esta configuraci칩n en cualquier momento.
                </h6>
              </div>
            </div>


            <br>
            <br>
            <div class="overview">
              <div class="title">
                  <i class="uil uil-keyboard"></i>
                  <span class="text">Contrase침a</span>
              </div>
          </div>
            <form action="/Glucky/Doctores/Password" method="post" id="formularioEditarPassword">
            <div class="renovarContra" id="grupo_password">
                <h4 class="achecuatro"> contrase침a</h4>
                
               

                <div class="seguridad">
                    <h5> 
                        Seguridad de la contrase침a: 
                    </h5>
                    <h6 class="acheseis"> Utiliza 8 caracteres como m칤nimo. No utilices una contrase침a 
                        de otro sitio ni un t칠rmino que sea demasiado obvio, 
                        como el nombre de tu mascota
                    </h6>
                </div>

                <input type="password" name="NewPass" id="myInput2" class="contraria">
                <input type="checkbox" onclick="mostrar2()" class="chequeado"> Mostrar 
                <br>
                
                <p class="form_input_error">La contrase침a no est치 cumpliendo con 1 may칰scula, 1 n칰mero, 1 caracter especial, 8 car치cteres totales</p>

                <input type="submit" class="contrasenaNueva" value="Cambiar la contrase침a">

                <p class="form_input_error">Por favor, rellene bien los datos</p>

            </div>
          </form>
<br>

            
            <script>
         
            </script>
</div>
    <script src="/js/perfilDoctor.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
    
</body>
</html>