<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/solicitudesDoctor.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard doctor</title> 
        <!--====== Favicon Icon ======-->
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
        type="image/svg"
      />
  
<style>

    .verd{
        background-color: aquamarine;
    }

    .tituloPage{
        text-align: center;
        font-size: 15px;font-weight: 800;
    }
</style>

</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
            </div>

            <span class="logo_name">Glucky</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/Glucky/Doctores/Dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Dashboard">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Pacientes</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Chat">
                    <i class="uil uil-chat"></i>
                    <span class="link-name">Chats</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Peticiones">
                    <i class="uil uil-plus-circle"></i>
                    <span class="link-name">Peticiones</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Citas">
                    <i class="uil uil-schedule"></i>
                    <span class="link-name">Citas</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Alimentos">
                    <i class="uil uil-restaurant"></i>
                    <span class="link-name">Alimentos</span>
                </a></li>
                <li><a href="/Glucky/Doctores/Medicamentos">
                    <i class="uil uil-capsule"></i>
                    <span class="link-name">Medicamentos</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="/Glucky/IniciodeSesion">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Salir</span>
                </a></li>

                <li class="mode">
                    <a href="/Glucky/Doctores/EditarCuenta">
                        <i class="uil uil-x"></i>
                    <span class="link-name">Ajustes de cuenta</span>
                </a>

                <div class="mode-toggle">
                 
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-circle"></i>
                <input type="text" placeholder="Aplicación glucky para doctores" disabled>
            </div>


                <div class="icon" onclick="toggleNotifi()">
			        <div class="noti">17</div>
		        </div>

                <div class="notifi-box" id="box">
                    <h2>Notificaciones: <span>17</span></h2>
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                            <h4>Notificaciones</h4>
                            <p>Descripción de la notificación</p>
                         </div> 
                    </div>
        
                
        
                </div>

            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">

            <div class="notifi-box2" id="box2">
                <div class="profile-card">
                    <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                    </div>
                    <div class="text-data">
                      <span class="name">Nombre completo </span>
                      <span class="job">Email@mail.com</span>
                      <span class="job">Doctor</span>
                    </div>
              
                    <div class="media-buttons">
                      <a href="#" style="background: #a1a1a136" class="link">
                        <i class="bx bx-plus-medical"></i>
                      </a>
                    
                    </div>
              
                    <div class="buttons">
                      <button class="button" onclick="toggleNotifi2()"">Cerrar</button>
                      <button class="button">Cuenta</>
                    </div>
              
                    <div class="analytics">
                      <div class="data">
                        <i class="bx bx-circle"></i>
                        <span class="number">Glucky</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-heart"></i>
                        <span class="number">Doctor</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-award"></i>
                        <span class="number">...</span>
                      </div>
                    </div>
                  </div>
    
            </div>
        
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-abacus"></i>
                    <span class="text">Solicitudes de pacientes</span>
                </div>

                <div class="home-content">

                    
                    <div class="overview-boxes">
                        <div class="box">
                            <div class="right-side">
                            <div class="box-topic">Solicitudes</div>
                            <div class="number">1.00</div>
                            <div class="indicator">
                                <i class='bx bx-circle'></i>
                                <span class="text">Solicitudes de doctor</span>
                            </div>
                            </div>
                            <i class='bx bx-paper-plane plane plane'></i>
                        </div>
                        <div class="box imgg">
                            <div class="right-side">
                            <div class="tituloPage">
                                Acciones
                            </div>
                            <br>
                            <div class="box-topic">Ver peticiones</div>
                           
                            <div class="indicator">
                                <i class='bx bx-circle'></i>
                                <span class="text">Puedes ver tus solicitudes 
                                </span>
                            </div>
                            </div>
                        </div>
                        <div class="box imgg">
                            <div class="right-side">
                            <div class="tituloPage declin">
                                Declinar
                            </div>
                            <br>
                            <div class="box-topic">Declinar</div>
                           
                            <div class="indicator">
                                <i class='bx bx-circle'></i>
                                <span class="text">Puedes declinar tus solicitudes 

                                </span>
                            </div>
                            </div>
                        </div>
                        <div class="box imgg">
                            <div class="right-side">
                            <div class="tituloPage acep">
                                Aceptar
                            </div>
                            <br>
                            <div class="box-topic">Aceptar</div>
                           
                            <div class="indicator">
                                <i class='bx bx-circle'></i>
                                <span class="text">Puedes aceptar tus solicitudes 

                                </span>
                            </div>
                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>

            <br>

         

              
                    <div class="select-menu">
                        <div class="select-btn">
                            <span class="sBtn-text">Filtros de búsqueda...</span>
                            <i class="bx bx-chevron-down"></i>
                        </div>
                    
                        <ul class="options">
                            <div class="flexo">
                                <input type="search" class="search-bar" id="myInput" onkeyup="myFunction()" placeholder="Busca algún paciente por nombre." title="Escribe" name="search">
                                <div class="span2 ico1">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>   
                            <div class="flexo">
                                <input type="search" class="search-bar" id="myInput3" onkeyup="myFunction3()" placeholder="Busca por tipo de diabetes." title="Escribe" name="search">
                                <div class="span2 ico3" >
                                    <i class="fa fa-arrow-up"></i>
                                </div>
                            </div>
                            <div class="flexo">
                                <input type="search" class="search-bar" id="myInput4" onkeyup="myFunction4()" placeholder="Busca por CURP." title="Escribe" name="search">
                                <div class="span2 ico4" >
                                    <i class="fa fa-archive"></i>
                                </div>
                            </div>
                            <div class="flexo">
                                <input type="search" class="search-bar" id="myInput5" onkeyup="myFunction5()" placeholder="Busca por E-mail." title="Escribe" name="search">
                                <div class="span2 ico5" >
                                    <i class="fa fa-at"></i>
                                </div>
                            </div>
                        </ul>
                    </div>

                <div class="limite" id="style-2">

                    <!--INICIO DE LA TABLA DE PACIENTES-->
                    <div class="tablacentrada">
                        <div class="tabla">
                            <table id="style-2">
                     <% for(var i=0;i<datos.length;i++){%>

                            <tr class="header"  id="style-2">
                                <th scope="col">Nombre</th>
                                    <th scope="col">Tipo-diabetes</th>
                                    <th scope="col">CURP</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Acciones</th>
                    
                            </tr>


                           

                     
                            <tr>
                                <!-- INICIO DEL FORM PARA ACEPTAR-->
                                <form action="/Glucky/Doctores/Peticiones" method="post">
                                    <td scope="row" data-label="Nombre"><b><%=datos[i].nom_pers%> <%=datos[i].apellidos_pers%></b></td>
                                    <td data-label="Tipo-diabetes"><div class="Tipo-1"><%=datos[i].nom_tipdiabts%></div></td>
                                    <td data-label="CURP"><input type="text" name="CurpForm" value="<%=datos[i].curp_pacien%>" class="textoSimple" readonly> </td>
                                    <td data-label="E-MAIL"><%=datos[i].email_pers%></td>
                                    <td data-label="Aceptar o declinar solicitud">
                                        <div class="AccionesBots">
                                            <button type="submit" class="AceptarBot">Aceptar</button>
                                        </form>
                                <!-- FIN DEL FORM PARA ACEPTAR-->
                                <!-- INICIO DEL FORM PARA DECLINAR-->
                                        <form action="/Glucky/Doctores/Peticion" method="post">
                                            <!-- Datos de tipo hidden que ocupen para declinar-->
                                            <input type="hidden" name="CurpForm" value="<%=datos[i].curp_pacien%>">
                                            <!-- Datos de tipo hidden que ocupen para declinar-->
                                            <button type="submit" class="DeclinarBot">Declinar</button>
                                        </div>
                                    </td>
                                </form>
                                <!-- FIN DEL FORM PARA DECLINAR-->
                            </tr>

                            <%}%>

                            
                            </table>

                            <div class="void">
                                
                            </div>


                    <!--FIN DE LA TABLA DE PACIENTES-->
                   



                    
                
         

        </div>
    </div>
</div>


  <br>

    <script src="/js/dashboardDoctor.js"></script>
    
    
</body>
</html>