<%if(typeof curp !== "undefined"){%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/solicitudesPaciente.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

      <!-- Swiper CSS -->
      <link rel="stylesheet" href="css/swiper-bundle.min.css" />



    <title>Peticiones</title> 
        <!--====== Favicon Icon ======-->
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/2qbH6y4/730-sin-t-tulo-20221221143952.png"
        type="image/svg"
      />
  
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="https://i.ibb.co/8bjZVfw/731-sin-t-tulo-20221215205600.png" alt="">
            </div>

            <span class="logo_name">Glucky</span>
        </div>

        <div class="menu-items">
          <ul class="nav-links">
              <li><a href="/Glucky/Pacientes/Dashboard">
                  <i class="uil uil-estate"></i>
                  <span class="link-name">Casa</span>
              </a></li>
              <li><a href="/Glucky/Pacientes/Solicitudes">
                  <i class="uil uil-user"></i>
                  <span class="link-name">Doctor</span>
              </a></li>
              <li><a href="/Glucky/Pacientes/Chat">
                  <i class="uil uil-chat"></i>
                  <span class="link-name">Chats</span>
              </a></li>
              <li><a href="/Glucky/Pacientes/Asignaciones">
                  <i class="uil uil-plus-circle"></i>
                  <span class="link-name">Asignaciones</span>
              </a></li>
              <li><a href="/Glucky/Pacientes/Historial">
                <i class="uil uil-chart"></i>
                <span class="link-name">Historial de niveles</span>
              </a></li>
          </ul>
          
          <ul class="logout-mode">
            <li><a href="/Glucky/IniciodeSesion">
                <i class="uil uil-signout"></i>
                <span class="link-name">Salir</span>
            </a></li>

            <li class="mode">
              <a href="/Glucky/Pacientes/EditarCuenta">
                  <i class="uil uil-user-circle"></i>
              <span class="link-name">Ajustes de cuenta</span>
              
            </a>
            </li>

            <div class="mode-toggle" style="display: none; pointer-events: none;">
             
            </div>
          </li>
        </ul>

      </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-circle"></i>
                <input type="text" placeholder="Aplicaci贸n glucky para pacientes" disabled>
            </div>

            <!--<div class="icon" onclick="toggleNotifi()">
			        <div class="noti">17</div>
		        </div>-->

                <div class="notifi-box" id="box">
                    <h2>Notificaciones: <span>17</span></h2>
                    <div class="notifi-item">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="img">
                        <div class="text">
                           <h4>Elias Abdurrahman</h4>
                           <p>@lorem ipsum dolor sit amet</p>
                        </div> 
                    </div>
        
                   
        
                </div>

            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" onclick="toggleNotifi2()">

            <div class="notifi-box2" id="box2">
                <div class="profile-card">
                    <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" class="profile-img" />
                    </div>
                    <% for(var i=0;i<datopac.length;i++){%>
                    <div class="text-data">
                      <span class="name"><%=datopac[i].nom_pers%> <%=datopac[i].apellidos_pers%></span>
                      <span class="job"><%=datopac[i].curp_pacien%></span>
                      <span class="job"><%=datopac[i].email_pers%></span>
                      <span class="job">Paciente</span>
                    </div>
                    <%}%>
                    <div class="media-buttons">
                      <a href="#" style="background: #a1a1a136" class="link">
                        <i class="bx bx-plus-medical"></i>
                      </a>
                    
                    </div>
              
                    <div class="buttons">
                      <button class="button" onclick="toggleNotifi2()">Cerrar</button>
                      <button class="button"><a href="/Glucky/Pacientes/EditarCuenta" style="color:#ffffff; text-decoration:none;">Cuenta</a></button>
                    </div>
              
                    <div class="analytics">
                      <div class="data">
                        <i class="bx bx-circle"></i>
                        <span class="number">Glucky</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-heart"></i>
                        <span class="number">Paciente</span>
                      </div>
                      <div class="data">
                        <i class="bx bx-award"></i>
                        <span class="number">...</span>
                      </div>
                    </div>
                  </div>
    
            </div>
        
        </div>

        <div class="dash-content">

            <br>

            <div class="title">
              <i class="uil uil-bell"></i>
              <span class="text">Solicitud de emparejamiento con doctores</span>
            </div>

            <h5 class="blues"> En esta secci贸n podr谩s emparejarte con un solo doctor</h5>

            <div class="recuadroimg">
            </div>

                
                 <!--INICIO DE LA TABLA DE DOCTORES-->

                <div class="tituloListaDoc">
                  Lista de doctores disponibles
                </div>

                 <div class="tablacentrada">
                 
                    <div class="tabla">
                       
                      
                        <table id="style-2">

                          <% for(var i=0;i<datos.length;i++){%>
                            <form action="/Glucky/Pacientes/Solicitudes" method="post"></from>
                            <tr class="bab">

                                <td scope="row" data-label="Nombre"><b><%=datos[i].nom_pers%> <%=datos[i].apellidos_pers%></b></td>
                                <td data-label="Direcci贸n">Calle:<%=datos[i].calle_cons%> <br> Num:<%=datos[i].num_cons%> <br> CP:<%=datos[i].cp_cons%> <br> Colonia:<%=datos[i].col_cons%> <br> Del o Mun:<%=datos[i].del_cons%> <br> Estado o Ciudad:<%=datos[i].edo_cons%></td>
                                <td data-label="Doctor"><div class="Tipo-1">Endocrin贸logo</div></td>
                                <td data-label="C茅dula profesional"> <input type="text" name="CedulaForm" value="<%=datos[i].cedula_med%>" class="textoSimple" readonly> </td>
                                <td data-label="E-MAIL"><%=datos[i].email_pers%></td>
                                <td data-label="Aplicar"><button class="BotSolicitud" id="BotSolicitud" type="submit">Aplicar solicitud</button></td>
                              </tr>
                           </form>

                            
                          <%}%>
                        


                            
                        </div>
                        
                     
                        
                        </table>

                        

                        <div class="void">
                            
                        </div>


                <!--FIN DE LA TABLA DE PACIENTES-->
            

              <!-- Divs malvados-->
        </div>
    </div>

    
    <script src="/js/peticionesDoctor.js"></script>    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    <script src="/js/plantillaAlertas.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%if(typeof soliciEnvi !== 'undefined'){%>
      <%if(soliciEnvi ==='solicitud de enlaze enviada'||soliciEnvi ==='solicitud de reenlaze enviada'){%>
        <script>
          SolicitudEnviada()
        </script>
        <%}else if(soliciEnvi ==='solicitud de enlaze no enviada'||soliciEnvi ==='solicitud de reenlaze no enviada'){%>
          <script>
            SolicitudNoEnvi()
          </script>
        <%}%>
    <%}%>
</body>
</html>
<%}else{%>
  <!DOCTYPE html>
<html>
  <head>
    <title>Error - Debes Iniciar Sesi贸n</title>
  </head>
  <body>
    <script src="/js/plantillaAlertas.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      SesionCad()
    </script>
  </body>
</html>
<%}%>